@use "../../variables.scss" as *;

.personForm {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
  // margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $beige1;

  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .formGroup {
    display: flex;
    justify-content: space-between;

    label {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      font-weight: 600;
      width: 200px;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: #1976d2;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  padding-left: 180px;
}
