@use "../../variables.scss" as *;

.container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.box {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: $beige1;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

Form div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 5px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.paragraph {
  color: rgb(255, 49, 49);
}
